@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  --color-primary: #301e44;
  --color-primary-hover: #3d2757;
  --color-primary-light: #ede7f2;

  --color-background: #ffffff;
  --color-foreground: #17131c;

  --color-muted: #6b6473;
  --color-border: #e5e1e8;
}
